emoji==2.4.0
pandas==1.5.3
numpy==1.23.5
google-api-python-client==2.92.0
vaderSentiment==3.3.2
textblob==0.17.1
wordcloud==1.8.1
matplotlib==3.8.0
seaborn==0.12.2
nltk==3.8.0
scipy==1.9.3
tqdm==4.66.1
streamlit==1.25.0
gensim==4.3.1
setuptools==65.5.0